<!-- main_1/templates/main_1/new.html -->
{% extends 'base.html' %}

{% block title %}New Message{% endblock %}

{% block content %}
{% load static %}
<img src="{% static 'images/background.png' %}" alt="Background" style="width: 100%; height: auto; position: absolute; top: 0; left: 0; z-index: -1;" id="background">
<div class="container mt-5" style="position: relative; z-index: 1;">
    <h1 style="color: white;">Оставьте свою надпись на стене</h1>
    <form method="post" id="messageForm">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Оставить надпись</button>
    </form>
</div>

<script>
    document.getElementById('background').addEventListener('click', function(event) {
        var rect = event.target.getBoundingClientRect();
        var x = event.clientX - rect.left;
        var y = event.clientY - rect.top;
        document.getElementById('id_x_position').value = x;
        document.getElementById('id_y_position').value = y;
    });
</script>
{% endblock %}
